

.animalContainer{
  margin-top: 20px;
  border: 10px rgb(202, 199, 199) solid;
  min-height: 300px;
  max-width: 500px;
  color: white;
  margin: auto;
}

.animalContainer img{
    padding: 20px;
    max-height: 300px;
    max-width: 200px;
    margin: 0px;
  }
  
  .animalContainer p{
    padding: 10px;
    font-size: 25px;
  }

  .inspirational-message-container-none{
    display: none;
    
  }


  .insp-border-top{
    max-width: 500px;
    margin: auto;
    border: 10px rgb(202, 199, 199) solid;
    padding: 10px 20px 10px 20px;
    border-top: none;
    max-width: 460px;
}