.navbar-container{
    background-color: rgb(176, 221, 221);
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    margin-top: auto;
    height: 100px;
    margin-bottom: auto;


}

.navbar-container li{
    background-color: yellowgreen;
    padding: 20px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.navbar-container li:hover{
    background-color: aquamarine;
}

.first-in-nav{
    margin-right: 0px;
    margin-right: -200px;

}

.second-in-nav{
    margin-right: -140px;

}

.frog-in-navbar{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.navbar-container a{
    padding-right: 100px;
    margin-right: 70px;
    padding-left: 120px;
}

