.navbar-container{
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-container li{
    padding-right: 30px;
    
}

.frog-in-navbar{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}
